.banner-main {
  height:300px;
  background-image: url('./img/background.jpg');
  background-size:cover;
  background-position: center;
}

.header-searchForm {
  width: 300px;
  margin-left: 20px;
}

.container-list {
  margin-top: 20px;
}

.board {
  border:2px solid gray;
  margin-top: 2px;
}

.category-btn {
  background-image: url('./img/header_img.png');
  height: 115px;
  width: 110px;
  background-position: 0 0;
  text-align: center;
}

.category-btn p {
  padding-top: 70px;
  font-size: 10pt;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
